.myBtn {
  background-color: #7C4EE4;
  border-radius: none;
}

.headerRow {
  background-color: #7C4EE4;
}

.myBtn {
  color: #373737;
  border-radius: 5.74px;
}

.mybtn {
  background-color: #fff;
}

.featured-img {
  width: 70%;
  position: absolute;

}

.f-text {
  position: relative;
  top: 500px;
  left: 270px;
  background-color: #fff;
  border-radius: 11.49px;
}

.text-box {
  bottom: 1px;
  left: 340px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 80%;
}

.more-btn {
  border-color: #7C4EE4;
  color: #7C4EE4;
  margin-top: 20px;
  border-radius: 5.7px;
}

.recent-img {
  width: 511.2px;
  height: 510.42px;
}

.footer-btn {
  border-color: #fff;
  border-radius: 8px;

}

.headerInput input {
  outline: none;
  border: none;
  border-radius: 6px;
  width: 430px;
  height: 60px;
}

.circle {
  width: 35px;
  height: 35px;
 background-color: #7C4EE4;
  border-radius: 50%;
  padding: 8px;
  color: white;
  
}




















@media only screen and (max-width: 1200px) {
  .headerRow {
    flex-direction: column;
    align-items: center;
  }

  .rightCol {
    order: -1;
  }

  .headerImg {
    position: static;
    width: 486px;
  }

  .parentCol {
    order: 2;
  }
}